{% extends "default/_layouts/base" %}
{% import "_macros/isactive" as isactive %}

{% block body %}

<!-- Navigation -->
<nav class="flex-none z-20">
{% block navigation %}
{% endblock %}
</nav>
<!-- End Navigation -->

<!-- Content -->
<main class="flex-grow h-full flex items-center justify-center">
  {% block main %}
  {% endblock %}
</main>
<!-- End Content -->

<!-- Footer -->
<footer class="flex-none z-20">
{% block footer %}
{% endblock %}
</footer>
<!-- End Footer-->

<!-- Reveal Navigation -->
{% include "_includes/reveal/navigation" %}
<!-- End Reveal Navigation -->
{% endblock %}