{% import "_macros/isactive" as isactive %}

<!-- Desktop Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-justify align-middle navigation" id="swup-header">

  <div class="small-12 cell align-middle text-center">
    <a href="#" class="" data-toggle="overlayNavigation">
    <div class="h2 logo margin-top-0 margin-bottom-half text-uppercase letter-spacing--loose">{{ currentSite.name }}</div>
    <div class="text-uppercase small letter-spacing--loose">Interior Design</div>
    </a>
  </div>

</div>
<!-- End Desktop Navigation -->
