{% import "_macros/isactive" as isactive %}

<!-- Desktop Navigation -->
<div class="container mx-auto z-10" id="swup-header">
  <div class="flex justify-center text-center p-8">
      <button type="button" @click="isOverlayOpen = true">
      <div class="uppercase text-2xl tracking-wider font-display py-2">{{ currentSite.name }}</div>
      <div class="uppercase tracking-wider">Interior Design</div>
      </button>
  </div>
</div>
<!-- End Desktop Navigation -->
