<div class="grid-x grid-padding-x grid-padding-y">
  <div class="auto cell text-center">

    <div class="navigation__title__desktop">
      <a data-toggle="offCanvas closed home">
        <h3 class="margin-bottom-0">{{site.title}}</h3>
        <h6 class="show-for-large">{{site.job}}</h6>
      </a>
    </div>

    <button class="hamburger hamburger--collapse" id="closed" data-toggle="offCanvas closed home" data-toggler=".is-active" type="button">
      <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>

  </div>
</div>