<!-- Overlay Menu -->
<div class="overlay show-for-medium" id="overlay" data-toggler=".open">
  <nav class="overlay-menu">
      <button class="close-button hamburger hamburger--collapse is-active" id="toggle" type="button" data-toggle="overlay toggle">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
      </button>
      
      <ul>
      {% assign projects = site.projects | sort: 'position' | where: "is-featured", "true" %}
      {% for project in projects %}
          <li><a href="{{project.url}}">{{project.title}}</a></li>
      {% endfor %}
      </ul>
      
  </nav>
</div>
<!-- End Overlay Menu -->

<!-- Overlay Menu Mobile -->
<div class="overlay show-for-small-only" id="overlay-mobile" data-toggler=".open">
  <nav class="overlay-menu align-middle">
      <button class="close-button hamburger hamburger--collapse is-active" id="toggle" type="button" data-toggle="overlay-mobile toggle">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
      </button>
      
      <ul>
      {% assign projects = site.projects | sort: 'position' | where: "is-featured", "true" %}
      {% for project in projects %}
          <li><a href="{{project.url}}">{{project.title}}</a></li>
      {% endfor %}
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
      
  </nav>
</div>
<!-- End Overlay Menu Mobile -->