@font-face {
  font-family: 'Cooper Light';
  src: url('../fonts/cooper-light.woff2') format('woff2'), url('../fonts/cooper-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GrotesqueMTStd';
  src: url('../fonts/GrotesqueMTStd.woff2') format('woff2'), url('../fonts/GrotesqueMTStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}