@font-face {
  font-family: 'FreightTextBook';
  src: url('../fonts/FreightTextBook.eot?#iefix') format('embedded-opentype'), url('../fonts/FreightTextBook.woff') format('woff'), url('../fonts/FreightTextBook.ttf')  format('truetype'), url('../fonts/FreightTextBook.svg#FreightTextBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimProMedium';
  src: url('../fonts/GTWalsheimProMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/GTWalsheimProMedium.woff') format('woff'), url('../fonts/GTWalsheimProMedium.ttf')  format('truetype'), url('../fonts/GTWalsheimProMedium.svg#GTWalsheimProMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreightDispBookItalic';
  src: url('../fonts/FreightDispBookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FreightDispBookItalic.woff') format('woff'), url('../fonts/FreightDispBookItalic.ttf')  format('truetype'), url('../fonts/FreightDispBookItalic.svg#FreightDispBookItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}