//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Buttons
//   4. Navigation
//   5. Sections
//   6. Section One
//   7. Section Two
//   8. Section Three
//   9. Section Four
//   10. Projects
//   11. Contact
//   12. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

html, body {
  height: 100%;
}

body {
  cursor: default;
  display: flex;
  flex-direction: column;
  font-kerning: normal;
}

nav {
  z-index: 2
}

main {
  flex: 1 0 auto;
}

footer {
  z-index: 2
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

// 3. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

// 6. Navigation
// ------

.navigation--mobile {
  z-index: 1;
  position: fixed;
  background: $white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 0;
  transition: $primary-transition;
  visibility: hidden;
  font-family: $header-font-family;
  font-size: 1.25rem;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  a {
   padding: 1rem 0rem;
  }
}

// 7. Projects
// ----------

// 8. Project
// ---------

// 9. Info
// ---------

.content {
    @include xy-cell();
}

.home {
  @include links ($white, $black)
}

.logo_test {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 1rem;
  color: #fefefe;
  width: 100%;
  text-align: center;
}

.home .orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.home .orbit-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
//   z-index: 1;
}