//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Buttons
//   4. Navigation
//   5. Sections
//   6. Section One
//   7. Section Two
//   8. Section Three
//   9. Section Four
//   10. Projects
//   11. Contact
//   12. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
 .content {
    transition: $primary-transition;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}


// 2. Global
// ---------

.off-canvas-wrapper {
  overflow: visible;
}

.off-canvas-content {
  cursor: default;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-kerning: normal;
}

nav {
  z-index: 14
}

main {
  flex: 1 0 auto;
}

footer {
  z-index: 2
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

// 3. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

// 6. Navigation
// ------

// 7. Projects
// ----------

// 8. Project
// ---------

// 9. Info
// ---------

a {
  transition: color .35s cubic-bezier(.39, .575, .565, 1);
}

.navigation {
  @include xy-gutters($gutter-position: top);
}

main {
  @include xy-gutters($gutter-position: right left);
}

.home .orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.projects__list a:hover img {
  filter: saturate(80%) brightness(80%); 
}
    
.projects__list a img {
  transition: $primary-transition;
  display: block;
  filter: saturate(100%) brightness(100%); 
}


.turbolinks-progress-bar {
  height: 5px;
  background-color: #333333;
}

.orbit-slide {
  z-index: 11;
}

.orbit-controls {
  width: 100vw;
  z-index: 12;
}

.orbit-previous, .orbit-next {
  height: 100%;
  width: 50vw;
  z-index: 13;
}

.orbit-previous {
cursor: url('/assets/img/arrow-left.png') 16 16, auto !important;
cursor: -webkit-image-set(
url('/assets/img/arrow-left.png') 1x,
url('/assets/img/arrow-left@2x.png') 2x,
url('/assets/img/arrow-left@3x.png') 3x
) 16 16, auto !important;
}

.orbit-next {
cursor: url('/assets/img/arrow-right.png') 16 16, auto !important;
cursor: -webkit-image-set(
url('/assets/img/arrow-right.png') 1x,
url('/assets/img/arrow-right@2x.png') 2x,
url('/assets/img/arrow-right@3x.png') 3x
) 16 16, auto !important;
}

.image--portrait {
  @include aspect-ratio (4, 6);
  background-size: cover; 
  background-position: 50%;
}

.image--landscape {
  @include aspect-ratio (6, 4);
  background-size: cover; 
  background-position: 50%;
}