//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Buttons
//   4. Navigation
//   5. Sections
//   6. Section One
//   7. Section Two
//   8. Section Three
//   9. Section Four
//   10. Projects
//   11. Contact
//   12. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

/*
html, body {
  height: 100%;
}

body {
  cursor: default;
  display: flex;
  flex-direction: column;
  font-kerning: normal;
}
*/

nav {
  z-index: 2
}

main {
  flex: 1 0 auto;
}

footer {
  z-index: 2
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

// 3. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

// 6. Navigation
// ------

// 7. Projects
// ----------

// 8. Project
// ---------

// 9. Info
// ---------

a {
  transition: color .35s cubic-bezier(.39, .575, .565, 1);
}

.navigation {
  @include xy-gutters($gutter-position: top);
}

.navigation h2 {
  margin-bottom: 0;
}

main {
//   @include xy-gutters($gutter-position: right left);
}

.home {
/*
  background-color: $dark-gray;
  @include links ($white, $medium-gray)
*/
}

.home .reveal {
  @include links ($black, $medium-gray)
  text-shadow: 1px 1px 3px rgba(150, 150, 150, 0);
}

.home__site-title {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 1rem;
  color: $white;
  width: 100%;
  text-align: center;
  font-size: 80px;
  font-family: $secondary-font-family;
  @include links ($white, $light-gray);
}

.home .orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.home .hamburger-inner {
  background-color: $white;
  &::before {
    background-color: $white;  
  }
  &::after {
    background-color: $white;  
  }
}

.home .orbit-slide {
  height: 50vh;
}

.project__title {
  padding-top: $global-padding;
}

.projects__list a:hover img {
  filter: saturate(80%) brightness(80%); 
}
    
.projects__list a img {
  transition: $primary-transition;
  display: block;
  filter: saturate(100%) brightness(100%); 
}

/*
.about {
  background-color: $light-gray;
}

.contact {
  background-color: #fad954;
}
*/



$curtain-menu-color: $primary-color;
$curtain-menu-text-color: $white;
$curtain-menu-font-size: rem-calc(45);
$curtain-menu-button-size: rem-calc(40);

.curtain-menu {
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: stretch;
  background-color: red;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.curtain-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s;
//   transition-delay: 0.5s;
  visibility: hidden;

  .curtain-menu-list {
    li {
      width: 100%;
      font-size: $curtain-menu-font-size;
      min-height: $curtain-menu-font-size;
//       padding: 1rem;
      text-align: center;
      justify-content: center;
      transition: all 0.2s ease-in;

      &:hover {
        background: rgba($white, 0.7);

        a {
          color: $curtain-menu-color;
        }
      }

      a {
        color: $curtain-menu-text-color;
        justify-content: center;
      }
    }
  }
}


.curtain-menu-open {
  .curtain-menu-wrapper {
    visibility: visible;
    pointer-events:all;
    opacity: 1;
  }
}





