{% set bodyClass = 'page' %}

{% if entry.seoTitle|length %}
{% set seoTitle = entry.seoTitle %}
{% elseif entry.title|length %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription|length %}
{% set seoDescription = entry.seoDescription|striptags|raw %}
{% endif %}

{% if entry.seoImage|length  %}
{% set asset = entry.seoImage.one() %}
{% set seoImage = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}
{% elseif entry.image|length %}
{% set asset = entry.image.one() %}
{% set seoImage = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}
{% endif %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}

<div class="container mx-auto px-4">
<div class="relative px-4 sm:px-6 lg:px-8 mx-auto">
<article class="prose mx-auto text-center">
  {{entry.copy}}
</article>
</div>
</div>

{% endblock %}


{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}