---
layout: default
---

<section class="contact">

<div class="grid-x contact__studio align-center text-center">
  <div class="small-12 medium-10 large-8 cell">
  <p class="contact__detail">Studio</p>
  {{ page.studio-text | markdownify }}
  </div>
</div>

<div class="grid-x contact__studio align-center text-center">
  <div class="small-12 medium-10 large-8 cell">
  <p class="contact__detail">Press</p>


      {% for press in site.press %}
        <div class="lightgallery">
        {% for image in press.images %}
          {% if forloop.first == true %}
          <a href="{{image}}">{{press.title}}</a>
          {% else %}
          <a href="{{image}}" class="press-images"></a>
          {% endif %}
        {% endfor %}
        </div>
      {% endfor %}
      
  </div>
</div>

<div class="grid-x contact__copyright align-center text-center">
  <div class="small-12 medium-10 large-8 cell">
  {{ page.copyright }}
  </div>
</div>

<div class="grid-x contact__registered align-center text-center">
  <div class="small-12 medium-10 large-8 cell">
  <small>All rights reserved {{ site.company }} {{ 'now' | date: "%Y" }}</small>
  </div>
</div>

</section>






