---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">
  
<!-- Navigation -->
<nav>
  {% include navigation.html %}
</nav>
<!-- End Navigation -->

<!-- Content -->
<main class="grid-y align-center {% if page.layout == "project" %}align-center{% endif %}" id="barba-wrapper">
  <div class="barba-container">
    {{content}}
  </div>
</main>
<!-- End Content -->

<!-- Footer -->
<footer>
{% include footer.html %}
</footer>
<!-- End Footer-->

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->
</body>

</html>