---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="site-wrapper">

<div class="main-content">

<!-- Navigation --> 
{% include navigation.html %}
<!-- End Navigation --> 

<!-- Overlay Menu -->  
{% include overlay-menu.html %}
<!-- End Overlay Menu --> 

<!-- <div class="animated fadeIn"> -->
<!-- Content -->  
{{ content }}
<!-- End Content -->
<!-- </div> -->

</div>

<!-- Footer -->  
{% include footer.html %}
<!-- End Footer -->  

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</body>
</html>