---
layout: default
---

<div class="swiper-container">

  <div class="swiper-button-prev-test flex-container align-center-middle"></div>
  <div class="swiper-button-next-test flex-container align-center-middle"></div>

  <div class="swiper-wrapper">
  {% assign projects = site.projects | sort: 'position' | where: "is-featured", "true" %}
  {% for project in projects %}
    <div class="swiper-slide text-center">

      <div class="grid-container">
        <div class="grid-x align-center">
          <div class="small-12 medium-6 cell">
          
            {% assign image = project.image %}
            <div class="image--landscape slide" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
          
          </div>
        </div>
      </div>

    </div>
  {% endfor %}
  </div>

</div>