---
layout: default
---

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <div class="orbit-wrapper">
    
    <div class="orbit-controls">
          <div class="home__site-title show-for-medium"><h1><a href="/projects">{{site.title}}</a></h1></div>
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><svg class="icon icon-arrows icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg></button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span><svg class="icon icon-arrows icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg></button>
    </div>
    
    <ul class="orbit-container">      
      {% assign projects = site.projects | sort: 'position' | where: "is-featured", "true" %}
      {% for project in projects %}
      {% if forloop.first == true %}
      <li class="is-active orbit-slide" style="background-image: url({{project.image}})"></li>
      {% else %}
      <li class="orbit-slide" style="background-image: url({{project.image}})"></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>