---
layout: default
---

<div class="orbit" role="region" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <div class="orbit-wrapper">
    
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><svg class="icon icon-arrows icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg></button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span><svg class="icon icon-arrows icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg></button>
    </div>
    
    <ul class="orbit-container">      
      {% assign projects = site.projects | sort: 'position' | where: "is-featured", "true" %}
      {% for project in projects %}
      <li class="orbit-slide">
      
      <div class="grid-y align-center" style="height: 100vh;">
        <div class="shrink cell">
          
          <div class="grid-x align-center">
            <div class="small-10 medium-6 large-5 cell">
	          <img data-interchange=
	          "
	          [{{ project.image | imgix_url: w: 640, h: 640, auto: "format", lossless: "true", q: 40, fit: "crop", dpr: 2}}, small]
	          [{{ project.image | imgix_url: w: 1024, h: 731, auto: "format", lossless: "true", q: 40, fit: "crop", dpr: 2}}, medium]
	          "
			  data-aos="fade-in"
			  data-sizes="auto"
			  class="lazyload"
	          >
           </div>
          </div>
          
      
        </div>
      </div>

      </li>
      {% endfor %}
    </ul>
  </div>
</div>