---
layout: default
---

<!-- Projects -->
<div class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-2 xxlarge-up-3">
  {% assign projects = site.projects | sort: 'position' %}
  {% for project in projects %}
    <div class="cell projects__list">
      <a href="{{ project.url }}">
        
        <img data-interchange=
        "
        [{{ project.image | imgix_url: w: 640, h: 640, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, small]
        [{{ project.image | imgix_url: w: 1024, h: 731, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, medium]
        [{{ project.image | imgix_url: w: 1200, h: 857, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, large]
        [{{ project.image | imgix_url: w: 1440, h: 1029, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, xlarge]
        [{{ project.image | imgix_url: w: 1440, h: 1029, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, xxlarge]
        "
        data-aos="fade-in"
        >

        <div class="project__title text-center">{{ project.title }}</div>
      </a>
    </div>
  {% endfor %}
</div>
</div>
<!-- End Projects -->