---
layout: default
---

<!-- Projects -->
<div class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-2 xxlarge-up-3">
  {% assign projects = site.projects | sort: 'position' %}
  {% for project in projects %}
<!--     <div class="cell projects__list" data-aos="fade-in"> -->
    <div class="cell projects__list">
      <a href="{{ project.url }}">
        <img src="{{ project.image }}" alt="{{project.title}}">
        <div class="project__title">{{ project.title }}</div>
      </a>
    </div>
  {% endfor %}
</div>
</div>
<!-- End Projects -->