---
layout: default
---

<!-- Carousel -->
{% if page.images %}
<div class="project__carousel">
{% for image in page.images %}
    <img src="{{image}}">
{% endfor %}
</div>
{% endif %}
<!-- End Carousel -->


<!-- Meta -->
<div class="grid-x align-center project__meta">
  <div class="small-8 medium-7 large-7 cell text-center">
    <h3>{{ page.title }}</h3>
    {% if page.architect %}
    <div class="project__meta__detail">Architect &mdash; {{ page.architect }}</div>
    {% endif %}
    {% if page.contractor %}
    <div class="project__meta__detail">Contractor &mdash; {{ page.contractor }}</div>
    {% endif %}
    

{% for ingredient in page.images.image %}
{{ page.author.name }}

<img src="{{ page.author.image }}" />

{{ page.author.bio }}
{% endfor %}}
 

  </div>
</div>
<!-- End Meta -->


<!-- Content -->
<div class="grid-x align-center">
  <div class="small-8 medium-7 large-7 cell text-center">
    {{ content }}
  </div>
</div>
<!-- End Content -->

<!-- Content -->
<div class="grid-x align-center">
  <div class="small-8 medium-7 large-7 cell text-center">
    {% include pagination.html %}
  </div>
</div>
<!-- End Content -->